<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @matches_found.name %>
</p>

<%= link_to 'Edit', edit_matches_found_path(@matches_found) %> |
<%= link_to 'Back', matches_founds_path %>
