<h1>Cupid's Minions</h1>
<p>
  Welcome to Cupid's Minions!
</p>
<p>
The idea behind Cupid's Minions is to create a dating website.
 On this website the users can view other profiles published by different users and also view what events that are coming up. The welcome page that was developed for our website shows the title of the website/group and also contains links for the user to view profiles or view events. The View Profiles and View Events pages are both functional and take the user to the profile and event pages, respectively.
</p>
<%= link_to 'View Profiles', profiles_path %>
|
<%= link_to 'View Events', events_path %>
